@charset 'UTF-8';

.tab {
  @include min-screen(1024px) {display: none;}
  @include max-screen(767px) {display: none;}
}
.taC {text-align: center;}

#footer {
  @include max-screen(767px) {padding: 0;}
  padding: 30px 10px 0;
  .footerInner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 40px 0;
    @include max-screen(767px) {padding: 0; border-bottom: 1px solid #ccc; margin-bottom: 45px;}
    *[class^="col"] { float: left; margin-right: 3%; font-size: 12px; letter-spacing: 2px;
      @include max-screen(767px) {float: none; margin-right: 0; font-size: 14px; width: auto;}
      li {margin-bottom: 15px;
        @include max-screen(767px) {margin-bottom: 0;}
        a {
          @include max-screen(767px) {display: block; padding: 14px 25px 13px; border-bottom: 1px solid #ccc; position: relative;}
          &:before {
            @include max-screen(767px) { display: block; content: ""; position: absolute; top: 45%; right: 18px; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent; border-left: 8px solid #b3b3b3; }
          }
        }
        ul {padding: 15px 0 0 13px;
          @include max-screen(767px) {padding: 0; text-align: left;}
        }
      }
      @include min-screen(768px) {
        &.col1 {width: 19%;}
        &.col2 {width: 14%;}
        &.col3 {width: 22%;}
        &.col4 {width: 36%; padding-top: 3px; margin-right: 0;}
      }
      .text1 {margin: 0 0 20px;
        a, span {display: inline-block; vertical-align: middle; font-size: 10px; letter-spacing: 2px; margin-right: 10px;
          img {display: block;}
        }
      }
      .text2 {font-size: 13px; line-height: 1.5; letter-spacing: 2px; margin-bottom: 5px;}
      .text3 {margin: 0 -5px 15px 0; line-height: 1.8;
        span {display: inline-block; vertical-align: middle; font-size: 25px; font-family: Arial, sans-serif;}
        .fTime {font-size: 10px; line-height: 1.5; width: 48%; letter-spacing: 1px; margin-left: 2%;}
      }
      .text4 {margin-bottom: 10px;
        a { display: block; font-size: 14px; font-family: 'Montserrat'; font-weight: bold; color: #fff; letter-spacing: 4px; text-align: center; background: #333; padding: 6px 10px 5px; }
      }
      > ul {padding: 15px 0 0 13px; text-align: right;
        @include max-screen(767px) {padding: 0;}
        li {display: inline-block; vertical-align: middle; color: #b3b3b3;
          @include max-screen(767px) {display: block;}
          a {font-size: 10px; letter-spacing: 2px;
            @include max-screen(767px) {font-size: 14px;}
          }
        }
      }
    }
  }
  .copyright { clear: both; font-size: 10px; color: #999; font-family: 'Montserrat'; letter-spacing: 3px; text-align: center; padding: 15px 0; margin: 0 -10px; position: relative;
    :before { content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 2px; background-color: #ccc; margin-top: -1px; z-index: -1; }
    span {display: inline-block; background: #fff; padding: 0 30px;}
  }
}